<div class="container">
  <div class="login-page">
    <div class="form">

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

        <div class="field">
          <%= f.text_field :username, autofocus: true, placeholder: "username" %>
        </div>

        <div class="field">
          <%= f.email_field :email, autocomplete: "email", placeholder: "email" %>
        </div>

        <div class="field">
          <%= f.text_field :first_name, placeholder: "first name" %>
        </div>

        <div class="field">
          <%= f.text_field :last_name, placeholder: "last name" %>
        </div>

        <div class="field">
          <%= f.password_field :password, autocomplete: "new-password", placeholder: "password" %>
        </div>

        <div class="field">
          <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "password confirmation" %>
        </div>

        <div class="actions">
          <%= f.submit "Sign up" %>
        </div>
        <div class="actions">
          <%= button_to "Sign in here", new_user_session_path %>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
