<div class="container pt-5">
  <div id="carouselIndex" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <%= image_tag 'buy.jpg', class: 'd-block w-100', alt: 'First slide' %>
        <div class="carousel-caption d-block" style="bottom:auto;position:absolute;top:10%;">
          <h4>Love it.</h4>
          <p>Find tomorrows car today.</p>
          <%= button_to 'Look Now', automobiles_vehicles_path, class: 'btn btn-light' %>
        </div>
      </div>
      <div class="carousel-item">
        <%= image_tag 'sell.jpg', class: 'd-block w-100', alt: 'Second-slide' %>
        <div class="carousel-caption d-block">
          <h4>List it.</h4>
          <p>Sell the gem to someone else.</p>
          <%= button_to 'List Now', new_vehicle_path, class: 'btn btn-light' %>
        </div>
      </div>
      <div class="carousel-item">
        <%= image_tag 'engine.jpg', class: 'd-block w-100', alt: 'Third-slide' %>
        <div class="carousel-caption d-block" style="bottom:auto;position:absolute;top:40%;">
          <h4>If it's got an engine.</h4>
          <p>Browse all types of vehicles.</p>
          <%= button_to 'Look Now', vehicles_path, class: 'btn btn-light' %>
        </div>
      </div>
    </div>
  </div>
</div>
