<h1><%= @vehicle.year %> <%= @vehicle.make %> <%= @vehicle.model %></h1>
<%= @vehicle.color %>
</br>
<%= @vehicle.mileage %>
</br>
<%= number_to_currency(@vehicle.price) %>
</br>
<%= @vehicle.description %>
</br>

<% if current_user == @vehicle.user %>
<%= link_to "Delete Listing", vehicle_path(@vehicle), post, method: :delete %>
