<!DOCTYPE html>
<html>
  <head>
    <title>Autoexchange</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class ="mx-auto d-sm-flex d-block flex-sm-nowrap">
        <%= link_to (image_tag("autoexchange.png", height: '50', class: 'brand-icon')), root_path %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item <%= 'active' if params[:action] == 'index' %>">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item <%= 'active' if params[:action] == 'howto' %>">
              <a class="nav-link" href="/howto">How To Exchange</a>
            </li>
            <li class="nav-item dropdown <%= 'active' if params[:controller] == 'vehicles' && params[:action] != 'new' %>">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Vehicles
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="/vehicles">All Vehicles</a>
                <a class="dropdown-item" href="/vehicles/automobiles">Automobiles</a>
                <a class="dropdown-item" href="/vehicles/motorcycles">Motorcycles</a>
                <a class="dropdown-item" href="/vehicles/boats">Boats</a>
              </div>
            </li>
            <% if user_signed_in? %>
              <li class="nav-item">
                <a class="nav-link <%= 'active' if params[:controller] == 'vehicles' && params[:action] == 'new' %>" href="/vehicles/new">List a Vehicle</a>
              </li>
            <% end %>
          </ul>
          <ul class="navbar-nav">
            <% if user_signed_in? %>
              <li class="nav-item">
                <%= link_to "My Profile", '#', class: 'nav-link' %>
              </li>
              <li class="nav-item">
                <%= link_to "Log out", destroy_user_session_path, method: :delete, class: 'nav-link' %>
              </li>
            <% else %>
              <li class="nav-item">
                <%= link_to "Log in", new_user_session_path, class: 'nav-link' %>
              </li>
              <li class="nav-item">
                <%= link_to "Sign up", new_user_registration_path, class: 'nav-link' %>
              </li>
            <% end %>
          </ul>
          <%= form_tag(vehicles_path, method: :get, class: 'form-inline my-2 my-lg-0') do %>
            <%= text_field_tag :term, params[:term], class: 'form-control mr-sm-2' %>
            <%= submit_tag 'Search', name: nil, class: 'btn btn-outline-danger my-2 my-sm-0' %>
          <% end %>
        </div>
      </div>
    </nav>
    <% if notice.present? %>
      <div class="alert alert-primary" role="alert">
        <%= notice %>
      </div>
    <% end %>
    <% if alert.present? %>
      <div class="alert alert-danger" role="alert">
        <%= alert %>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
